.App {
  /* Aliniază conținutul în centru */
}

/******Title*******/
.title {
  background-color: #19A7CE;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
}

.title h1 {
  font-size: 36px;
  transform: scale(2);
}



/******Serviciul*******/
.paginaServiciu{
  max-width: 1024px;
}
.slideShow{
  display: flex;
}
.slideShow img{
  flex: 1;
  max-width: 100%;
  height: auto;
}